body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 30px 2fr;
  grid-gap: 10px;
}

input {
  font-size: 12pt;
  height: 25px;
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 2px;
  border: 2px solid #ddd;
}

.header {
  margin: auto;
  grid-column-start: 2;
  grid-row-start: 1;
}

.result {
  margin: auto;
  padding: 0;
  grid-column-start: 2;
  grid-row-start: 3;
}

.result li {
  list-style: none;
  padding-bottom: 5px;
}